<div class="row align-items-center">
    <div class="col-12 col-lg-auto sf-title">
        <h4>{{lang 'newsletter.subscribe'}}</h4>
        <p>{{lang 'newsletter.subscribe_intro'}}</p>
        {{#if settings.show_newsletter_summary }}
            <div class="footer-newsletter-summary mt-3">{{settings.newsletter_summary}}</div>
        {{/if}}
    </div>
    <div class="col-12 col-lg">
<!-- <form class="form" action="{{urls.subscribe.action}}" method="post">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="bc">
        <input type="hidden" name="check" value="1">
        <div class="form-field">
            <label class="form-label is-srOnly" for="nl_email">{{lang 'common.email_address'}}</label>
            <div class="form-prefixPostfix wrap">
                <input class="form-input"
                       id="nl_email"
                       name="nl_email"
                       type="email"
                       value="{{customer.email}}"
                       placeholder="{{lang 'newsletter.email_placeholder'}}"
                       aria-describedby="alertBox-message-text"
                >
                <input class="button button--primary form-prefixPostfix-button--postfix"
                       type="submit"
                       value="{{lang 'newsletter.subscribe_submit'}}"
                >
            </div>
        </div>
    </fieldset>
</form>-->
<div class="klaviyo-form-VKn5hv"></div>
    </div>
</div>
