{{#if category.products}}
<div class="row mb-5">
    <div class="col-md-auto d-none d-md-block">
        <span class="view-as">View as:</span>
        <div class="products-switcher text-right">
            <a href="javascript:void(0)" class="switcher-grid switcher-button switcher-active"> 
                <span class="icon"><svg><use xlink:href="#icon-grid-view" /></svg></span>
            </a>
            <a href="javascript:void(0)" class="switcher-list switcher-button">
                <span class="icon"><svg><use xlink:href="#icon-list-view" /></svg></span>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-auto sort-byFilter">
        {{> components/products/filter sort=pagination.category.sort}}
    </div>
</div>
<form action="{{urls.compare}}" method='POST' {{#if settings.data_tag_enabled}} data-list-name="Category: {{category.name}}" {{/if}} data-product-compare>
    {{#if settings.data_tag_enabled}}
        {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings event="list" }}
    {{else}}
        {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
    {{/if}}
</form>
<div class="divider-30"></div>
{{> components/common/paginator pagination.category}}
{{else}}
    <p role="text" tabindex="0">{{lang 'categories.no_products'}}</p>
{{/if}}
