<div class="row no-gutters">
    <div class="col-12 col-md-6 col-lg-3">
        <div class="snippetContainer snippetContainer1">
            {{> components/custom/contentSnippet/home-content-snippet-1}}
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <div class="snippetContainer snippetContainer2">
            {{> components/custom/contentSnippet/home-content-snippet-2}}
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <div class="snippetContainer snippetContainer3">
            {{> components/custom/contentSnippet/home-content-snippet-3}}
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <div class="snippetContainer snippetContainer4">
            {{> components/custom/contentSnippet/home-content-snippet-4}}
        </div>
    </div>
</div>
